.navbar-main,.navbar-main .navbar-header{min-height:85px}
@font-face{font-family:'TT Lakes Condensed';src:url(../fonts/TT_Lakes/TTLakesCompressed-Black.otf)}
@font-face{font-family:Akrobat;src:url(../fonts/akrobat/Akrobat-ExtraLight.otf)}
html body{font-size:16px}
.navbar-main{border-radius:0;border:none;margin-bottom:0;text-align:center;font-family:Akrobat;font-size:22px}
.navbar-main .navbar-header a{outline:0}
.navbar-main .nav-links{text-transform:uppercase}
.navbar-main .change-lang.eng{position:absolute;bottom:-5px;left:1px}
.navbar-main .change-lang.uk{position:absolute;top:-5px;left:22px}
.image-slide,html body .shipowner>div{position:relative}
.navbar-main .change-lang.active{z-index:10;border:3px solid #036}
@media (min-width:768px){.navbar-right{margin-top:15px;height:85px}
}
@media (max-width:321px){.navbar-default .navbar-brand{width:70%}
}
html body .main-screen{background:url(img/layer_1.png),50% 50%;background-size:cover;height:80vh}

html body .main-screen{background:url(../img/layer_1.png),50% 50%;background-size:cover;height:80vh}
@media (min-width:990px){html body .main-screen{height:calc(100vh - 85px)}
html body .shipowner{height:100vh}
html body .shipowner .accordion>h2{font-size:60px}
html body .shipowner .accordion{top:10vh}
}

html body .shipowner{background:url(img/layer_2.png),50% 50%;background-size:cover;height:100vh}

html body .shipowner{background:url(../img/layer_2.png),50% 50%;background-size:cover;height:100vh}

html body .shipowner .accordion>h2{text-align:center;color:#036;font-family:"TT Lakes Condensed";font-weight:700;padding:20px 0;margin:0}
.image-slide .btn-download-sea{position:absolute;margin-top:20vh;width:100%;height:10%;z-index:10;opacity:.8;font-size:150%;font-weight:700;outline:0;font-family:"TT Lakes Condensed"}
.image-slide .btn-download-sea:hover{background-color:#036}
.image-slide h3{display:inline-block;padding:10px;background:#B9121B;border-top-left-radius:10px;border-top-right-radius:10px}
.image-slide .full-screen{background-size:cover;background-position:center;background-repeat:no-repeat}
.image-slide .carousel-indicators{bottom:120px;width:70%;margin:0;left:30%}
.image-slide .carousel-indicators li{border-radius:0;width:27px;height:25px;background-color:#ececec}
.image-slide .carousel-indicators .active{background-color:#036;width:27px;height:25px}
@media (min-width:990px){html body .image-slide{height:100vh}
.image-slide .btn-download-sea{margin-top:20vh;margin-left:15%;width:40%}
.image-slide .carousel-indicators{bottom:85px;width:30%;margin:0;left:60%}
.image-slide .carousel-indicators li{border-radius:0;width:33px;height:30px;background-color:#ececec}
.image-slide .carousel-indicators .active{background-color:#036;width:33px;height:30px}
.footer .footer-column{min-height:230px}
}
.footer{background-color:#ececec;font-family:Akrobat;font-size:18px}
.footer .footer-column.map{height:230px}
.footer .footer-column>img{height:100%}
.accordion .accordion-item{min-height:80px}
.accordion .accordion-item.active .hide-text{max-height:57vh;padding:10px 15px}
.accordion .accordion-item .hide-text{overflow:auto;max-height:0;text-align:left;background-color:#036;font-family:Akrobat;font-size:20px;opacity:.8;color:#fff}
.accordion .accordion-item .hide-text .foto-conrainer{text-align:center}
.accordion .accordion-item .hide-text .foto-conrainer>div{width:50%;float:left}
.accordion .accordion-item .hide-text .foto-conrainer>div:last-child img{margin-left:10px}
.accordion .accordion-item .hide-text .foto-conrainer img{margin:10px 0;width:100%}
.accordion .accordion-item .accordion-button:hover{cursor:pointer}
.accordion .accordion-item .accordion-block{position:relative;font-size:16px;background-color:#036;margin:0;min-height:80px;box-shadow:inset 0 0 20px 3px #091f50}
.accordion .accordion-item .accordion-block .accordion-market{width:50px;height:52px;position:absolute;padding:0;top:23px;right:7px;outline:0;-o-transition:transform .6s linear;-ms-transition:transform .6s linear;-moz-transition:transform .6s linear;-webkit-transition:transform .6s linear;transition:transform .6s linear}
.accordion .accordion-item .accordion-block .accordion-market:hover{background-color:#3caad2}

.accordion .accordion-item .accordion-block .accordion-market.fa{background:url(img/shape.png) no-repeat;background-size:contain}

.accordion .accordion-item .accordion-block .accordion-market.fa{background:url(../img/shape.png) no-repeat;background-size:contain}

.accordion .accordion-item .accordion-block .accordion-market.fa.fa-angle-up{-o-transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.accordion .accordion-item .accordion-block .show-text{font-family:"TT Lakes Condensed";font-weight:700;position:relative;color:#fff;line-height:30px;text-align:left;display:inline-block;margin-bottom:0;margin-top:25px;margin-left:12px;max-width:80%;font-size:25px}
@media (min-width:990px){html body .accordion{width:35%;height:80px;position:absolute;top:20vh;left:15%}
.accordion .accordion-item .accordion-block .show-text{font-size:34px;margin-left:30px;max-width:90%}
.accordion .accordion-item .accordion-block .accordion-market{width:60px;height:62px;position:absolute;padding:0;top:14px;right:14px;outline:0}
}
