.accordion {
  width:90%;
  margin-left: 5%;
  .accordion-item {
    //min-height: 80px;
    &.active {
      .hide-text {
        max-height:57vh;
        padding: 10px 15px;
      }
    }
    .hide-text {
      overflow:auto;
      max-height: 0;
      //transition: max-height 350ms ease-in-out;
      text-align: left;
      background-color: $color-1;
      font-family: $font-2;
      font-size:20px;
      opacity: 0.8;
      color: #ffffff;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
      .foto-conrainer {
        >div {
          width:50%;
          float:left;
          &:last-child img{margin-left:10px;}}
        text-align: center;
        img{
          margin:10px 0;
          width:100%;
          //height: 300px;
          }
      }
    }
    .accordion-button {
      &:hover {
        cursor: pointer;
      }
    }
    .accordion-block {
      position: relative;
      font-size: 16px;
      background-color: $color-1;
      //border-top: 1px solid #cbcbcb;
      //border-bottom: 1px solid #cbcbcb;
      margin: 0;
      min-height: 75px;
      box-shadow: inset 0 0 20px 3px #091f50;
      .accordion-market {
        width: 39px;
        height: 39px;
        position: absolute;
        padding: 0;
        top: 16px;
        right: 2px;
        outline: 0;

        -o-transition: transform 0.3s linear;
        -ms-transition: transform 0.3s linear;
        -moz-transition: transform 0.3s linear;
        -webkit-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
        &:hover{background-color:#3caad2}
        &.fa {
          background: url("../img/shape.png");
          background-size: contain;
          background-repeat: no-repeat;
          &.fa-angle-up{
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg); //анимация переворота
          }
        }
      }
      .show-text {
        font-family: $font-1;
        font-weight: 700;
        position: relative;
        color: #ffffff;
        line-height: 30px;
        text-align: left;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 21px;
        margin-left: 12px;
        max-width: 80%;
        font-size:21px;
      }
    }
    //&:last-child{border-bottom:1px solid #cbcbcb}
  }
}
@media  (min-width: 990px) {
  html body .accordion {
    width: 35%;
    position:absolute;
    top:10vh;
    //left:15%;
  }
  .accordion .accordion-item .accordion-block .show-text {
    font-size: 34px;
    margin-left: 30px;
    max-width: 90%;
  }
  .accordion .accordion-item .accordion-block {
    min-width:500px;
  }
  .accordion .accordion-item .hide-text {min-width: 500px;}
  .accordion .accordion-item .accordion-block .accordion-market {
    width: 58px;
    height: 58px;
    position: absolute;
    padding: 0;
    top: 8px;
    right: 14px;
    outline: 0;
  }
}
