.footer {
  background: url(../img/footer_img.png),50% 50%;
  background-size: auto 85%;
  background-color: #ececec;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  font-family: $font-2;
  font-size: 18px;
  .footer-column {
    text-align: center;
    padding:10px;
    color: #003366;
    font-weight: 600;
    h4 {
      font-weight: 600;
      color: #003366;
    }
    &.map {
      height: 230px;
    }
    //>img {width:100%;}
  }
}



@media  (min-width: 990px) {
  .footer .footer-column {
    min-height: 269px;
  }
}

@media  (max-width: 990px) {
  .footer {
   background: #ececec;
    .imgfooter {
      background: url(../img/footer_img.png),50% 50%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
  .footer .footer-column {
    position: relative;
    >img{
      position:absolute;
      bottom: 0;
      left: 0;
      width:100%;
    }
  }
}