.image-slide {
  position: relative;
  .btn-download-sea {
    position: absolute;
    margin-top:60vh;
    width: 85%;
    margin-left: 5%;
    height: 75px;
    z-index: 10;
    //opacity: 0.8;
    font-size: 150%;
    font-weight: 700;
    outline: none;
    font-family: $font-1;
    color:#ffffff;
    background-color: $color-1;
    box-shadow: inset 0 0 20px 3px #091f50;
    border-radius:0;
    outline: none;
    &:hover {
      outline: none;
      background-color: $color-3;
    }
  }

//carousel
//  h3 {
//    display: inline-block;
//    padding: 10px;
//    background: #B9121B;
//    border-top-left-radius: 10px;
//    border-top-right-radius: 10px;
//  }

  .carousel-inner {
    height: calc(100vh - 80px);
  }
  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel-indicators {
    display:none;
    bottom: 30px;
    width:70%;
    margin:0;
    left:30%;
    li {
      border-radius: 0px;
      width: 27px;
      height: 25px;
      background-color: #ececec;
    }
    .active {
      background-color: $color-1;
      width: 27px;
      height: 27px;
    }
  }
  //carousel finish
}
@media  (min-width: 990px) {
  //html body .image-slide {height: 100vh;}
  .image-slide .btn-download-sea {
    margin-top:57vh;
    width: 40%;
    min-width: 500px;
    margin-left: 5%;
  }
  .image-slide .carousel-indicators {
    bottom: 85px;
    width:30%;
    margin:0;
    left:60%;
    li {
      border-radius: 0px;
      width: 33px;
      height: 30px;
      background-color: #ececec;
    }
    .active {
      background-color: $color-1;
      width: 33px;
      height: 32px;
    }
  }
}
@media  (max-width: 375px)  {
  .image-slide .btn-download-sea {
    margin-left: 1%;
  }
}