@font-face{
  font-family:'TT Lakes Condensed';
  src:url(../fonts/TT_Lakes/TTLakesCompressed-Black.otf);
}
@font-face{
  font-family:'Akrobat';
  src:url(../fonts/akrobat/Akrobat-ExtraLight.otf);
}



$color-1: #003366;

$font-1: 'TT Lakes Condensed';
$font-2: 'Akrobat';


$color-2: #337ab7;
$color-3: #091f50;
$color-4: #4c4c4c; //#0c70ff;//menu border
html body {
  font-size: 16px;
}


@import "global";
@import "navbar";
@import "main-screen";
@import "shipowner";
@import "image-slide";
@import "footer";
@import "accordion";