
$color-1: #003366;

$font-1: 'TT Lakes Condensed';


html body {
  font-size: 16px;
}


@import "global";
@import "navbar";
@import "main-screen";
@import "shipowner";
@import "image-slide";
@import "footer";
@import "accordion";