html body .main-screen {
  background: url("../img/layer_1.png"), 50% 50%;
  background-size: cover;
  height: 80vh;
}



@media  (min-width: 990px) {
  html body .main-screen {
    height: calc(100vh - 90px);
    margin-top:90px;
    //background-size: contain;
  }
}
@media  (max-width: 990px) {
  html body .main-screen {background-position: 72% 0;}
}