html body .main-screen {
  background: url("img/layer_1.png"), 50% 50%;
  background-size: cover;
  height: 80vh;
}



@media  (min-width: 990px) {
  html body .main-screen {
    height: calc(100vh - 85px);
    //background-size: contain;
  }
}