html body .shipowner {
  background: url("img/layer_2.png"), 50% 50%;
  //background-size: contain;
  background-size: cover;
  height: 100vh;
>div {position: relative;} //для акордиона
  .accordion {
    >h2 {
      text-align: center;
      color: $color-1;
      font-family: $font-1;
      font-weight: 700;
      padding: 20px 0;
      margin:0;
    }
  }
}
@media  (min-width: 990px) {
  html body .shipowner {height: 100vh;}
  html body .shipowner .accordion>h2 {font-size: 60px;}
}